{% extends 'base.html.twig' %}

{% block title %}Artikle index{% endblock %}

{% block body %}
    <h1>Artikle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artikle in artikles %}
            <tr>
                <td>{{ artikle.id }}</td>
                <td>{{ artikle.title }}</td>
                <td>
                    <a href="{{ path('artikle_show', {'id': artikle.id}) }}">show</a>
                    <a href="{{ path('artikle_edit', {'id': artikle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('artikle_new') }}">Create new</a>
{% endblock %}
